body {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  color: @white;
  background-image: url("../img/background.png");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
