body {
  font-family: "Exo 2", "Arial", sans-serif;
  color: @white;
  line-height: 26px;
  background-image: url("../img/background.png");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
